:root {
  --orange: 25, 97%, 53%;
  --white: 0, 0%, 100%;
  --light-grey: 217, 12%, 63%;
  --medium-grey: 216, 12%, 54%;
  --dark-blue: 213, 19%, 18%;
  --very-dark-blue: 216, 12%, 8%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  max-width: 375px;
  margin-inline: auto;
  background-color: hsl(var(--very-dark-blue));
  color: hsl(var(--light-grey));
  font-size: 0.9375rem;

  @media (min-width: 800px) {
    max-width: 800px;
  }
}

a,
button {
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
