.title {
  color: hsl(var(--white));
  font-size: 1.5rem;
  font-weight: 700;
}

.content {
  margin-top: 0.75rem;
  line-height: 1.5;
}

.rating-buttons {
  display: flex;
  justify-content: space-between;
}

.result {
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  background-color: hsla(var(--medium-grey), 0.2);
  color: hsl(var(--orange));
  width: max-content;
}

.thank-you-container {
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 2.5rem;
}
