.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.875rem;
  border-radius: 9999px;
  background-color: hsl(var(--orange));
  color: hsl(var(--white));
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-size: 0.875rem;

  transition-property: color background-color;
  transition-duration: 100ms;
  transition-timing-function: ease-in;

  &:hover {
    color: hsl(var(--orange));
    background-color: hsl(var(--white));
  }
}
